body{
  font-family: "Montserrat";
}

.container-fluid{

  padding: 2% 2%;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 2rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  line-height: 1.5;
}
h3{
  font-size: 1.5rem;
  font-family: "Montserrat-Bold";
}
h4{
  line-height: 1.5rem;
}




#joinus{
  padding: 80px;
  text-align: center;
}

.source-column{
  padding: 3% 2%;
}
